/* baseline */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

/* menu */
#menu {
    display: flex;
    flex-direction: column;
    width: 15%;
    /* background-color: #333; */
    background: linear-gradient(#333, #808080);
    text-align: left;
    padding-top: 10px;
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    justify-content: space-between;
}

.self-photo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid white;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.self-photo img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}

.menu-list {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 0;
    margin: 0;
}

.menu-list li {
    padding: 20px;
}

.menu-list li:hover {
    background-color: #555;
    transition: color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.menu-list a {
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.icons {
    margin: 0 30% 2rem 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
}

.icons img {
    width: 2.5rem;
}

/* main */
.main-section {
    margin-left: 15%;
    padding: 10px;
    height: 90vh;
}

.page-title {
    color: black;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Project Page */
.project {
    width: 80vw;
    height: auto;
    margin: 2rem;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
}

.project-image {
    margin: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.project-image img {
    width: 40rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem darkgray;
}

.project-image button {
    margin-top: 0.5rem;
    font-weight: bold;
    max-width: 9rem;
    position: left;
}

.project-detail {
    margin: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.project-detail h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.project-detail p {
    color: #666;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

project-detail a {
    font-size: 1.6rem;
}

/* About Me Page */
.about-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.about-section {
    margin: 20px;
    padding: 10px;
    /* background-color: #f2f2f2; */
    border-radius: 5px;
    text-align: left;
}

.about-section h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.about-section p {
    color: #666;
    font-size: 16px;
}
.about-me-image {
    width: 15%;
    height: auto;
    border-radius: 50%;
    border: 5px solid black;
    background-position: center;
    background-size: cover;
    margin: 10px 20px;
}

.about-me-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}

#pfAboutName {
    color: #333;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 20px;
}

#pfAboutTitle {
    color: #666;
    font-size: x-large;
    margin-top: 10px;
}

.about-description {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

/* Experience Page */
.experience-section {
    margin: 2rem;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 5px;
    /* height: 25%; */
}

#experience-info, #expResume{
    background-color: inherit;
}

#expResume {
    margin: 0 2rem 0 0;
    padding: 0;
    float: right;
}

#pfResume {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.experience-section h2 {
    color: black;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.experience-section p {
    margin: 0.5rem;
    color: #666;
    font-size: 1.5rem;
}

/* Project Image Carousel */
#modalPage {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.65);
}
  
.carousel {
    max-width: 75%;
    position: relative;
    top: 5%;
    margin: 0 auto;
    padding: 0 .5rem 1rem .5rem;
    background-color: white;
}
  
#imgList img {
    display: block;
    margin: 1rem auto 1rem auto;
    max-height: 95%;
    max-width: 95%;
}
  
#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1.6rem;
    color: red;
    font-weight: bold;
    font-size: 4rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
#next {
    right: 1%;
    border-radius: 3px 0 0 3px;
}
    
#prev {
    left: 1%;
    border-radius: 0 3px 3px 0;
}

#prev:hover, #next:hover {
    background-color: black;
}
  
#XOut {
    margin-top: .25rem;
    padding: 0;
    color: red;
    text-align: right;
    font-size: 2.5rem;
    font-weight: bold;
}
  
#XOut:hover, #Xout:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}