* {
    font-family: Arial, sans-serif;
}

/* menu */
#menu {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: #333;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    justify-content: space-between;
}

.self-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.self-photo img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}

.menu-list {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 0;
    margin: 0;
}

.menu-list li {
    padding: 20px;
}

.menu-list li:hover {
    background-color: #555;
    transition: color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.menu-list a {
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.icons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    text-align: center;
}

.icons li {
    display: inline;
    margin-right: 10px;
}

.icons a {
    text-decoration: none;
    padding: 10px;
}

.fa {
    color: #fff;
}

/* main */
.main-section {
    margin-left: 15%;
    padding: 10px;
    height: 90vh;
}

.page-title {
    color: #333;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Project Page */
.project {
    margin: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.project h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.project p {
    color: #666;
    font-size: 16px;
}

.project-image {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    max-width: 400px;
    margin-right: 20px;
    margin-left: 20px;
}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* About Me Page */
.about-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-section {
    margin: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: center;
}

.about-section h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.about-section p {
    color: #666;
    font-size: 16px;
}
.about-me-image {
    width: 15%;
    height: auto;
    border-radius: 50%;
    border: 5px solid black;
    background-position: center;
    background-size: cover;
    margin: 10px 20px;
}

.about-me-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}

#pfAboutName {
    color: #333;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 20px;
}

#pfAboutTitle {
    color: #666;
    font-size: x-large;
    margin-top: 10px;
}

.about-description {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Experience Page */
.experience-section {
    margin: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    height: 25%;
}

.experience-section h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.experience-section p {
    color: #666;
    font-size: 16px;
}